<div class="container" *ngIf="game">

  <div class="clear">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 align-center">
            <img src="{{game.thumbnail}}">
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h1 class="game-title">{{game.name}}</h1>
            <p>{{game.description}}</p>
        </div>

      </div>

      <div *ngIf="game.screenshots" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin">

          <div *ngFor="let screenshot of game.screenshots" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
              <img src="{{screenshot.lg}}" class="img-responsive">
          </div>

      </div>

      <iframe [src]="url" frameborder="0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin iframe"></iframe>

  </div>

</div>